# Bonusleistung Paket 1
## Ãœbung 2

In [24]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [25]:
with open(r'heart_study_dataset_3_short.csv', 'r') as infile, \
     open(r'heart_study_dataset_3_short_neu.csv', 'w') as outfile:
    data = infile.read()
    data = data.replace('"', '')
    outfile.write(data)

In [26]:
df_orig = pd.read_csv("heart_study_dataset_3_short_neu.csv")
df_orig.index.names = ['ID']

In [27]:
df_orig.head(20)

,female,age,educational background,Smoker,cigsPerDay,BPMeds,hadStroke,hadHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack
ID,,,,,,,,,,,,,,,,
0,0,58,Abitur,yes,5,0,0,0,0,215,170.0,86.0,29.06,75,98.000000,0
1,1,60,Ausbildung,no,0,0,0,0,0,240,137.0,84.0,29.51,82,88.000000,0
2,0,38,Abitur,no,0,0,0,0,0,171,111.0,68.0,18.76,90,83.000000,0
3,1,53,Master,yes,30,0,0,0,0,189,110.0,67.5,23.59,60,63.000000,0
4,1,52,Abitur,yes,15,0,0,0,0,240,94.0,66.5,22.93,70,88.000000,0
5,1,41,Ausbildung,yes,40,0,0,0,0,239,119.5,70.0,29.79,70,81.963655,0
6,0,37,Master,yes,2000,0,0,0,0,186,135.0,91.0,21.48,66,84.000000,0
7,1,42,Abituriat,no,0,0,0,0,0,227,144.0,78.0,23.75,62,97.000000,1
8,0,64,Ausbildung,no,0,0,0,1,0,273,155.0,86.0,27.53,100,91.000000,0
9,0,56,Ausbildung,yes,20,0,0,0,0,212,117.5,72.5,27.30,75,75.000000,0
10,0,67,Abitur,no,0,0,0,0,0,249,128.0,68.0,25.81,70,87.000000,1
11,f,43,Abitur,yes,30,0,0,0,0,185,125.0,65.0,20.65,96,76.000000,0
12,1,45,Master,yes,18,0,0,0,0,176,124.0,84.0,20.27,77,75.000000,0
13,1,61,Ausbildung,no,0,0,0,0,0,239,143.0,80.0,25.74,48,81.963655,0
14,0,66,Ausbildung,no,0,0,0,1,0,285,166.0,98.0,26.04,95,132.000000,0
15,0,34,Abitur,no,0,0,0,0,0,163,107.0,71.0,23.88,73,80.000000,0
16,0,52,Bachelor,no,0,0,0,0,0,254,126.5,93.0,26.79,75,65.000000,0
17,1,45,Ausbildung,yes,43,0,0,1,0,191,139.5,75.0,22.30,77,81.963655,0
18,0,43,Bachelor,no,0,0,0,0,0,263,115.0,82.5,25.91,105,81.963655,0
19,1,490,Ausbildung,yes,30,0,0,0,0,237,114.0,85.5,28.57,88,92.000000,0

## 2.1 Datenbereinigung

Folgende Bereinigungsschritte wurden durchgefÃ¼hrt:    

1. Geschlecht vereinheitlichen
2. Abiturbezeichnung angleichen
3. Datensatz 19 lÃ¶schen
4. Datensatz 6 lÃ¶schen
5. BPMeds Spalte lÃ¶schen
6. hadStroke Spalte lÃ¶schen
7. diabetes Spalte lÃ¶schen

In [28]:
df = df_orig.copy()
# 1. Geschlecht vereinheitlichen
# Da nicht zu 100% davon ausgegangen werden kann, dass die Merhzahl an Rauchern MÃ¤nner sind wurde der Datensatz gelÃ¶scht
# df.replace({'f':'1'}, inplace=True)
df.drop(11, inplace=True)

# 2. Abiturbezeichnung angleichen
df.loc[df['educational background'] == 'Abituriat', ['educational background']] = 'Abitur'

# 3. Datensatz 19 lÃ¶schen
df.drop(19, inplace=True)

# 4. Datensatz 6 lÃ¶schen
df.drop(6, inplace=True)

# 5. BPMeds Spalte lÃ¶schen
# 6. hadStroke Spalte lÃ¶schen
# 7. diabetes Spalte lÃ¶schen
df.drop(columns=['BPMeds', 'hadStroke', 'diabetes'], inplace=True)

In [29]:
df.head(20)

,female,age,educational background,Smoker,cigsPerDay,hadHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack
ID,,,,,,,,,,,,,
0,0,58,Abitur,yes,5,0,215,170.0,86.0,29.06,75,98.000000,0
1,1,60,Ausbildung,no,0,0,240,137.0,84.0,29.51,82,88.000000,0
2,0,38,Abitur,no,0,0,171,111.0,68.0,18.76,90,83.000000,0
3,1,53,Master,yes,30,0,189,110.0,67.5,23.59,60,63.000000,0
4,1,52,Abitur,yes,15,0,240,94.0,66.5,22.93,70,88.000000,0
5,1,41,Ausbildung,yes,40,0,239,119.5,70.0,29.79,70,81.963655,0
7,1,42,Abitur,no,0,0,227,144.0,78.0,23.75,62,97.000000,1
8,0,64,Ausbildung,no,0,1,273,155.0,86.0,27.53,100,91.000000,0
9,0,56,Ausbildung,yes,20,0,212,117.5,72.5,27.30,75,75.000000,0
10,0,67,Abitur,no,0,0,249,128.0,68.0,25.81,70,87.000000,1
12,1,45,Master,yes,18,0,176,124.0,84.0,20.27,77,75.000000,0
13,1,61,Ausbildung,no,0,0,239,143.0,80.0,25.74,48,81.963655,0
14,0,66,Ausbildung,no,0,1,285,166.0,98.0,26.04,95,132.000000,0
15,0,34,Abitur,no,0,0,163,107.0,71.0,23.88,73,80.000000,0
16,0,52,Bachelor,no,0,0,254,126.5,93.0,26.79,75,65.000000,0
17,1,45,Ausbildung,yes,43,1,191,139.5,75.0,22.30,77,81.963655,0
18,0,43,Bachelor,no,0,0,263,115.0,82.5,25.91,105,81.963655,0

## 2.2 Datentransformation 1: Diskretisierung
Numerische Werte in Wertebereiche umwandeln
Neue AusprÃ¤gungen: 

- Alter in (jung, alt)
- Zigaretten am Tag in (kein, wenig, viel)
- BMI in (Untergewicht, Normalgewicht, Ãœbergewicht)

In [34]:
dfBins = df.copy()
bin_labels_alt = ['jung', 'alt']
dfBins['age'] = pd.cut(x = df['age'],
                              bins=[0, 40, 100],
                              labels = bin_labels_alt)

bin_labels_rauchen = ['kein', 'wenig', 'viel']
dfBins['cigsPerDay'] = pd.cut(x = df['cigsPerDay'],
                              bins=[-1, 1, 15, 100],
                              labels = bin_labels_rauchen)

bin_labels_bmi = ['Untergewicht', 'Normalgewicht', 'Ãœbergewicht', 'starkes Ãœbergewicht']
dfBins['BMI'] = pd.cut(x = df['BMI'],
                              bins=[0, 18.5, 25, 35, 100],
                              labels = bin_labels_bmi)#
dfBins

,female,age,educational background,Smoker,cigsPerDay,hadHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack
ID,,,,,,,,,,,,,
0,0,alt,Abitur,yes,wenig,0,215,170.0,86.0,Ãœbergewicht,75,98.000000,0
1,1,alt,Ausbildung,no,kein,0,240,137.0,84.0,Ãœbergewicht,82,88.000000,0
2,0,jung,Abitur,no,kein,0,171,111.0,68.0,Normalgewicht,90,83.000000,0
3,1,alt,Master,yes,viel,0,189,110.0,67.5,Normalgewicht,60,63.000000,0
4,1,alt,Abitur,yes,wenig,0,240,94.0,66.5,Normalgewicht,70,88.000000,0
5,1,alt,Ausbildung,yes,viel,0,239,119.5,70.0,Ãœbergewicht,70,81.963655,0
7,1,alt,Abitur,no,kein,0,227,144.0,78.0,Normalgewicht,62,97.000000,1
8,0,alt,Ausbildung,no,kein,1,273,155.0,86.0,Ãœbergewicht,100,91.000000,0
9,0,alt,Ausbildung,yes,viel,0,212,117.5,72.5,Ãœbergewicht,75,75.000000,0
10,0,alt,Abitur,no,kein,0,249,128.0,68.0,Ãœbergewicht,70,87.000000,1
12,1,alt,Master,yes,viel,0,176,124.0,84.0,Normalgewicht,77,75.000000,0
13,1,alt,Ausbildung,no,kein,0,239,143.0,80.0,Ãœbergewicht,48,81.963655,0
14,0,alt,Ausbildung,no,kein,1,285,166.0,98.0,Ãœbergewicht,95,132.000000,0
15,0,jung,Abitur,no,kein,0,163,107.0,71.0,Normalgewicht,73,80.000000,0
16,0,alt,Bachelor,no,kein,0,254,126.5,93.0,Ãœbergewicht,75,65.000000,0
17,1,alt,Ausbildung,yes,viel,1,191,139.5,75.0,Normalgewicht,77,81.963655,0
18,0,alt,Bachelor,no,kein,0,263,115.0,82.5,Ãœbergewicht,105,81.963655,0

## 2.3 Datentransformation 2: Numerische Kodierung und Normierung
Nun sollen alle Daten in normierte numerische Werte transformiert werden. Legen Sie auch hierfÃ¼r eine Kopie "dfNumeric" des originÃ¤ren bereinigten Dataframes an.
1. AusprÃ¤gungen von Geschlecht, Position und Bildung durch numerische aufeinanderfolgende Werte (1,2,...) ersetzen. 
2. Werte auf das Intervall [0, 1] normalisieren. HierfÃ¼r wird der MinMaxScaler() verwendet, den Sie oben importiert haben.

Lassen Sie sich erneut das Ergebnis ausgeben.

In [37]:
dfNumeric  = df.copy()
dfNumeric['educational background'].replace(to_replace=['Ausbildung', 'Abitur', 'Bachelor', 'Master'], value=[1, 2, 3, 4], inplace=True)
dfNumeric['Smoker'].replace(to_replace=['no', 'yes'], value=[0, 1], inplace=True)
dfNumeric.head()

,female,age,educational background,Smoker,cigsPerDay,hadHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack
ID,,,,,,,,,,,,,
0,0,58,2,1,5,0,215,170.0,86.0,29.06,75,98.0,0
1,1,60,1,0,0,0,240,137.0,84.0,29.51,82,88.0,0
2,0,38,2,0,0,0,171,111.0,68.0,18.76,90,83.0,0
3,1,53,4,1,30,0,189,110.0,67.5,23.59,60,63.0,0
4,1,52,2,1,15,0,240,94.0,66.5,22.93,70,88.0,0

In [38]:
scaler = MinMaxScaler()

dfNumeric = pd.DataFrame(scaler.fit_transform(dfNumeric), columns = dfNumeric.columns, index = dfNumeric.index)

In [39]:
dfNumeric.describe().drop(['count', 'mean', 'std', '25%', '50%', '75%'])

,female,age,educational background,Smoker,cigsPerDay,hadHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [40]:
dfBinaer = df.copy()
dfBinaer = pd.get_dummies(dfBinaer, prefix = '', prefix_sep = '')
dfBinaer

,age,cigsPerDay,hadHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack,0,1,Abitur,Ausbildung,Bachelor,Master,no,yes
ID,,,,,,,,,,,,,,,,,,
0,58,5,0,215,170.0,86.0,29.06,75,98.000000,0,1,0,1,0,0,0,0,1
1,60,0,0,240,137.0,84.0,29.51,82,88.000000,0,0,1,0,1,0,0,1,0
2,38,0,0,171,111.0,68.0,18.76,90,83.000000,0,1,0,1,0,0,0,1,0
3,53,30,0,189,110.0,67.5,23.59,60,63.000000,0,0,1,0,0,0,1,0,1
4,52,15,0,240,94.0,66.5,22.93,70,88.000000,0,0,1,1,0,0,0,0,1
5,41,40,0,239,119.5,70.0,29.79,70,81.963655,0,0,1,0,1,0,0,0,1
7,42,0,0,227,144.0,78.0,23.75,62,97.000000,1,0,1,1,0,0,0,1,0
8,64,0,1,273,155.0,86.0,27.53,100,91.000000,0,1,0,0,1,0,0,1,0
9,56,20,0,212,117.5,72.5,27.30,75,75.000000,0,1,0,0,1,0,0,0,1
10,67,0,0,249,128.0,68.0,25.81,70,87.000000,1,1,0,1,0,0,0,1,0
12,45,18,0,176,124.0,84.0,20.27,77,75.000000,0,0,1,0,0,0,1,0,1
13,61,0,0,239,143.0,80.0,25.74,48,81.963655,0,0,1,0,1,0,0,1,0
14,66,0,1,285,166.0,98.0,26.04,95,132.000000,0,1,0,0,1,0,0,1,0
15,34,0,0,163,107.0,71.0,23.88,73,80.000000,0,1,0,1,0,0,0,1,0
16,52,0,0,254,126.5,93.0,26.79,75,65.000000,0,1,0,0,0,1,0,1,0
17,45,43,1,191,139.5,75.0,22.30,77,81.963655,0,0,1,0,1,0,0,0,1
18,43,0,0,263,115.0,82.5,25.91,105,81.963655,0,1,0,0,0,1,0,1,0

In [41]:
scaler = MinMaxScaler()

dfNumericBinaer = pd.DataFrame(scaler.fit_transform(dfBinaer), columns = dfBinaer.columns, index = dfBinaer.index)

In [42]:
dfNumericBinaer

,age,cigsPerDay,hadHyp,totChol,sysBP,diaBP,BMI,heartRate,glucose,RiskHeartAttack,0,1,Abitur,Ausbildung,Bachelor,Master,no,yes
ID,,,,,,,,,,,,,,,,,,
0,0.727273,0.116279,0.0,0.426230,1.000000,0.619048,0.933817,0.473684,0.507246,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.787879,0.000000,0.0,0.631148,0.565789,0.555556,0.974615,0.596491,0.362319,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.121212,0.000000,0.0,0.065574,0.223684,0.047619,0.000000,0.736842,0.289855,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.575758,0.697674,0.0,0.213115,0.210526,0.031746,0.437897,0.210526,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.545455,0.348837,0.0,0.631148,0.000000,0.000000,0.378060,0.385965,0.362319,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
5,0.212121,0.930233,0.0,0.622951,0.335526,0.111111,1.000000,0.385965,0.274836,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
7,0.242424,0.000000,0.0,0.524590,0.657895,0.365079,0.452403,0.245614,0.492754,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
8,0.909091,0.000000,1.0,0.901639,0.802632,0.619048,0.795104,0.912281,0.405797,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
9,0.666667,0.465116,0.0,0.401639,0.309211,0.190476,0.774252,0.473684,0.173913,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
10,1.000000,0.000000,0.0,0.704918,0.447368,0.047619,0.639166,0.385965,0.347826,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
12,0.333333,0.418605,0.0,0.106557,0.394737,0.555556,0.136899,0.508772,0.173913,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
13,0.818182,0.000000,0.0,0.622951,0.644737,0.428571,0.632820,0.000000,0.274836,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
14,0.969697,0.000000,1.0,1.000000,0.947368,1.000000,0.660018,0.824561,1.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
15,0.000000,0.000000,0.0,0.000000,0.171053,0.142857,0.464189,0.438596,0.246377,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
16,0.545455,0.000000,0.0,0.745902,0.427632,0.841270,0.728015,0.473684,0.028986,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
17,0.333333,1.000000,1.0,0.229508,0.598684,0.269841,0.320943,0.508772,0.274836,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
18,0.272727,0.000000,0.0,0.819672,0.276316,0.507937,0.648232,1.000000,0.274836,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0